/* _base.scss */

.site-content {
  .content-area {
    text-align: center;

    .site-main {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
  }
}

ul#toptop {
  li {
    &.lang-item-first {
      white-space:nowrap;
      
      a {
        display:inline-block;
      }
    }
  }
}