/* _footer.scss */

footer.site-footer {
    .site-info {
        padding-bottom:$offset-g2;

        .site-info-content span {
            white-space:normal;//bugfix : base style sets this as nowrap, which forces scroll on smaller size
        }
    }

    #footer-menu-ecp {
        ul.menu > li {
            text-align:left;

            > a {
                padding-left:0;                
            }

            > ul.sub-menu {
                > li {
                    > a {
                        padding-left:0;
                    }
                }
            }
            /* [END] ul.sub-menu */
        }
    }
    /* [END] #footer-menu-ecp */
}