/* _logo-row.scss */

.amcust_logos-table-wrap {
  display: block;
  width: 100%;
  background: $color_debug;
  margin: 0;

  ul.amcust_logos-table {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    background: $color_debug2;

    @media (max-width: $bp-lg-1) {
      flex-wrap: wrap;
    }

    li {
      padding: $offset-1;
      position: static;
      display: inline-flex;
      text-align: center;
      // min-width: 20%;
      border: 1px solid $color_debug3;
      background: $color_debug;
      // display: inline-block;
      @media (min-width: $bp-sm) and (max-width: $bp-lg-1) {
        width: 25%;
        // display: inline-block;
      }
      @media (min-width: $bp-tablet) and (max-width: $bp-sm-1) {
        width: 30%;
        // display: inline-block;
      }
      @media (max-width: $bp-tablet-1) {
        width: 50%;
      }

      a {
        margin: 0 auto;
      }

      img {
        height: 86px;
        width: auto;
        margin: 0 auto;
      }
    }
  }
}
