/* _more-programme.scss */

.single-post #main article.post-more-programme {
  // background: red;

  .entry-header {
    text-align: center;
    // background: pink;
    padding: 0;

    a.back-to-tree {
      margin: 0 auto;
    }

    h1 {
      margin: $offset-g1 auto;
    }
  }

  .entry-content {
    width: 100%;
    float: left;

    .more-anchors {
      text-align: center;
    }

    .post-featured-image {
      @media (min-width: $bp-xs) {
        width: 30%;
        float: left;
        margin: 0 $offset-g2 $offset-g2 0;
      }
    }
  }

  .back-to-tree-wrap {
    float: left;
    display: block;
    width: 100%;
    // background: green;
    padding: $offset-g2 0;
    text-align: center;

    a.back-to-tree {
      margin: 0 auto;
    }
  }
}

.back-to-tree {
  @extend .fasc-button;
  @extend .fasc-size-large;

  margin: 0;
  background: white url(amadded/assets/img/back-to-tree-sm.png) no-repeat 5px
    5px !important;
  background-size: 48px 48px !important;
  padding: 10px 20px !important;

  span {
    margin-left: 40px;
  }

  @media (max-width: $bp-xs-1) {
    height: $offset-g4;
    padding-left: 58px !important;
    padding-right: 0 !important;
    width: $offset-g4 !important;

    span {
      font-size: 0px;
      color: transparent;
      display: none;
    }
  }
}

.col-brief {
  .back-to-tree {
    margin-right: $offset-1;
    @media (min-width: $bp-sm) {
      display: inline-block;
      margin-bottom: $offset-g2;
    }
  }
}

.more-button-wrap {
  text-align: center;
  padding: $offset-g2 0;
  // background: yellow;

  &.with-title {
    &.left {
      text-align: left;

      a,
      h1 {
        display: inline-block;
      }

      a {
        float: left;
      }

      h1 {
        margin: 0 0 0 $offset-g1;
        padding: 0;

        @media (max-width: $bp-xs-1) {
          font-size: 1.4em;
        }

        &:before {
          content: "> ";
        }
      }
    }
  }

  a.back-to-tree {
    margin: 0 auto;
  }

  h1 {
    margin: 0 auto;
    line-height: $offset-g4;
  }
}
