/* _navbar.scss */

header.site-header {
    > .page-box {
        > .site-branding {

            &.bigger-emblem {
                > .site-title {

                    .site-logo {
                        height: 120px;
                    }

                    @media (max-width:767px){
                        position: relative;
                        width: 130px;
                        height: 120px;
                        overflow:hidden;

                        a {
                            > img {
                                width:440px;
                                max-width:440px;
                                height:120px;
                                // margin:-3px 0 0 -3px;
                            }
                        }
                        /* (END) a */
                    }
                }
                /* (END) .site-title */
            }

            > .site-title {

                @media (max-width:599px){
                    position: relative;
                    background: $color_debug;
                    width: 100px;
                    height: 90px;
                    overflow:hidden;

                    a {
                        position: absolute;
                        top: 0;
                        left: 0;

                        > img {
                            width:462px;
                            max-width:462px;
                            height:100px;
                            margin:-3px 0 0 -3px;
                        }
                    }
                    /* (END) a */
                }
            }
            /* (END) .site-title */
        }
        /* (END) .site-branding */
    }
    /* (END) .page-box */
}
/* (END) header.site-header */