/* _row-box.scss */

.row-box {
    .one-third {

        img {
            width:100%;
            max-width:100%;
            max-height:none;
        }
        
        > p,
        > p:not(:empty) ~ p {

        }

        > img {
            margin:$offset-g1 0 0 0;

            &:first-child,
            &:first-of-type {
                margin-top:0;
            }
        }
    }
}