/* _video-background.scss */

//https://www.w3schools.com/howto/howto_css_fullscreen_video.asp
//https://redstapler.co/responsive-css-video-background/
//https://dissolve.com/

#video-container {
  // height: calc(100vh - 103px - 32px - 60px);
  position: relative;
  width: 100%;
  max-width: 980px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.video {
  width: 100%;
  height: auto;
  // overflow: hidden;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  margin: 0 auto;
}
.video:before {
  // background-image: url('http://farm8.staticflickr.com/7212/7329494986_c1191f6e55.jpg') repeat;
  width: 100%;
  height: auto;
  // min-height:500px;
}

/* Add some content at the bottom of the video/page */
.video-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: $offset-g1;
  @media (max-width: $bp-sm-1) {
    padding: $offset-1;
  }
  text-align: center;

  h1 {
    text-align: center;
    margin: 0 auto $offset-1 auto;
    padding: 0;

    @media (max-width: $bp-sm-1) {
      display: none;
    }

    @media (max-width: $bp-xs-1) {
      font-size: 20px;
    }
  }

  p {
    text-align: center;
  }

  /* Style the button used to pause/play the video */
  .video-button {
    display: inline-block;
    margin: 0 2px;
    width: auto;
    height: 40px;
    font-size: 14px;
    padding: $offset-1;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;

    &#btnPlayPause,
    &#btnMuteUnmute {
      width: 40px;
    }

    &:hover {
      background: #ddd;
      color: black;
    }

    @media (max-width: $bp-xs-1) {
      //   margin: 0 0 0 1px;
    }
  }
}
