/* _variables-button.scss */

$font-size_button:16px;
$font-size_button-line-height:24px;
$font-size_button-padding:$offset-1 $offset-g1;
$font-size_button-border-radius:3px;

$font-size_button-sm:12px;
$font-size_button-line-height-sm:18px;
$font-size_button-padding-sm:$offset-0-5 $offset-1;
$font-size_button-border-radius-sm:2px;

$font-size_button-lg:24px;
$font-size_button-line-height-lg:36px;
$font-size_button-padding-lg:$offset-1 $offset-2;
$font-size_button-border-radius-lg:5px;

$font-size_button-xlg:30px;
$font-size_button-line-height-xlg:45px;
$font-size_button-padding-xlg:$offset-1 $offset-2;
$font-size_button-border-radius-xlg:$offset-1;