/* _variables-color.scss */

/* Base colors */
$color_primary: #252259;//dark blue
$color_secondary: #9E0012;//dark red

$color_accent-1:#682C80;
$color_accent-2:#1D86C1;
$color_accent-3:#11AD97;
$color_accent-4:#AC9E33;

/* debugging */
// $color_debug: orange;
// $color_debug2: yellow;
// $color_debug3: blue;
$color_debug: inherit;
$color_debug2: inherit;
$color_debug3: inherit;

/* social media buttons */
$color_share:#a5a9b0;
$color_twitter:#3b9cff;
$color_facebook:#2f7ccc;
$color_youtube:#c41a1a;
$color_instagram:#f89800;
$color_pinterest:#BD2026;
$color_googleplus:#DC4A38;
$color_whatsapp: #25D366;


$color_bg-body: #eee;
$color_bg-content: #ffffff;