/* _pagepart-base.scss */

.pagepart {
  padding: $offset-g2 0;
  padding: 2rem 0;

  background-color: $color_bg-body;
  background-position: top;
  background-size: cover;

  h2 {
    font-size:2rem;
  }

  &.full-width {
    .pagepart-content {
      max-width: 100%;
    }
  }

  &.bg-primary {
    h1,h2,h3,
    p, a {
      color:white;
    }
  }
}

.pagepart.daily-life li:before,
.pagepart.way-we-teach li:before,
.pagepart.why-choose li:before,
.pagepart.our-results li:before,
.pagepart.why-exciting li:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  content: "\f00c";
  // content: "\f058";
}


// :more tree page
body.page-id-11786 {
  .section.daily-life {
    display:none;
  }
}