/* _pagepart-base.scss */

.pagepart {
  padding: $offset-g2 0;
  padding: 2rem 0;

  background-color: $color_bg-body;
  background-position: top;
  background-size: cover;

  h2 {
    font-size:2rem;
  }

  &.full-width {
    .pagepart-content {
      max-width: 100%;
    }
  }

  &.bg-primary {
    h1,h2,h3,
    p, a {
      color:white;
    }
  }
}

.pagepart.daily-life li:before,
.pagepart.way-we-teach li:before,
.pagepart.why-choose li:before,
.pagepart.our-results li:before,
.pagepart.why-exciting li:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  content: "\f00c";
  // content: "\f058";
}


// :more tree page
body.page-id-11786,
body.page-id-11812,//:more programme
body.page-id-927,//ecp-people
body.page-id-12369,//finance-fees (h2a)
body.page-id-11977,//how-to-apply (en)
body.page-id-12559,//how-to-apply (cz)
body.page-id-12617,//how-to-apply TABS (cz)
body.page-id-1456,//faculties (en)
body.page-id-1979,//faculties (cz)
body.page-id-22XXX {
  .four-main-section {
    // @extend .all-four-display;
    @media (min-width: $bp-tablet) {
      flex-direction: unset;
    }
    @media (max-width: $bp-tablet-1) {
      flex-direction: column;
    }
  }
  .four-main-section h3,
  .four-main-section .four-main-bottom {
      max-width: 653.33333px;
  }

  .four-main-section .four-main-bottom .section {
    width: calc(50% - 2 * 1rem);

    @media (max-width: $bp-tablet-1) {
      width: 100%;
    }
  }

  
  // .section.daily-life {
  //   display:none;
  // }
}