/* _pagepart-banner.scss */

//171122 Open Day Banner
.pagepart.banner {
    padding:$offset-2;
    background:#fff;

    @media (max-width:$bp-sm-1){
        padding:$offset-1;
    }

    > .pagepart-content {
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding:0;

        p {
            margin:0 auto;
            padding:0;

            a {
                display:block;

                img {
                    width: 100%;
                    max-width: 916px !important;//1250px
                    height: auto;
                }
            }
        }
    }
}