/* _minor-tweaks.scss */

.bg-white {
  background: white;
}

p:empty {
  display: none;
}

.toTopShow #to-the-top {
  width: auto;
  height: auto;
  padding: $offset-g1;
  background: white;
  font-size: 20px;
  line-height: 20px;
  bottom: $offset-g1;
  right: $offset-g1;
  border: 1px solid $color_primary;
  color: $color_primary;
  @include border-radius($border-radius-button);
  @include set-opacity("semi");

  &:hover {
    background: white;
    @include set-opacity("full");
  }
}

//homepage slideshow text (move down to 3/4 from 1/2
.carpet h1 {
  bottom: auto !important;
  top: 80% !important;

  @media (max-width: $bp-xs-1) {
    top: auto !important;
    bottom: 10% !important;
    font-size: 1.8em;
  }
}

//search highlight
strong.search-excerpt,
.highlight {
  background-color: yellow;
  // border:2px solid red;
}

//huge-portfolio - hide solitary thumbnail
/* one item */
ul.elastislide-list li:first-child:nth-last-child(1) {
  /* -or- li:only-child { */
  display: none;
}

/* row-box padding improve */
.row-box div.one-third:first-of-type {
  margin-right: 0;
}
.row-box div.two-thirds:last-of-type {
  margin-left: 0;
}

/* CR */
#main .layer-content > .element_1.title {
  font-size: 20px;
  font-weight: bold;
}
#main .layer-content > .element_2.post_date {
  font-size: 16px;
}
#main .layer-content > .element_3.excerpt {
  font-size: 16px;
  line-height: 24px;
}
#main .layer-content > a.element_4.read_more {
  font-size: 16px !important;
  line-height: 24px !important;
}

.single-post,
.single-team_member {
  #main article {
    > header {
      border: 0px;
    }

    .amcust-news-wrap .col-brief {
      padding-top: 0px;
    }
  }
}

.row-box {
  .ecp-table-facts {
    overflow: hidden;
    margin: $offset-1 0 0 0 !important;
    padding: 0;

    .dataTables_wrapper {
      padding: 0;
      margin: 0;

      table.tablepress {
        width: 100%;
        min-width: 100%;
      }
    }
  }
}

/* HUGE-IT portfolio */
.og-expander {
  .og-expander-inner {
    .og-fullimg {
      width: 30%;
    }
    .og-details {
      width: 70%;
    }
  }
}

.amcust-calendar-agenda-wrap {
  display: block;
  width: 100%;
  padding: $offset-g2;
  text-align: center;

  > .embed-container-agenda {
    width: 60%;
    @media (max-width: $bp-sm-1) {
      width: 100%;
    }
    height: 500px;
    min-height: 500px;
    margin: 0 auto;
  }
}

.grid_circles#sc_our_team .sc_team_member .sc_team_member_name,
.grid_circles2#sc_our_team .sc_team_member .sc_team_member_name {
  width: 100%;
  left: 0;
  top: 75%;
  padding: 10px 40px;
  height: 25%;
}

.grid#sc_our_team .sc_team_member:hover .sc_team_member_name,
.grid#sc_our_team .sc_team_member:hover .sc_team_member_jobtitle,
.grid_circles#sc_our_team .sc_team_member:hover .sc_team_member_name,
.grid_circles#sc_our_team .sc_team_member:hover .sc_team_member_jobtitle {
  left: 0;
  top: 110%;
}

// 201118_youtube-embed-fix
// to be used together with code in functions.php: add_theme_support( 'responsive-embeds' );
figure.wp-block-embed-youtube.is-provider-youtube {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border:1px solid $color_primary;
} 

// 210304
.post-10918 > .entry-content,
.post-11383 > .entry-content,
.post-11170 > .entry-content {
  width:100%;
  max-width:100%;
  display: block;
    float: left;
    background:$color_primary;
    padding-bottom:$offset-g2;
}

.post-11170 > .entry-content,
.post-11383 > .entry-content  {
  padding-top:30px;
}

/* (2do) Look at theme footer.php */
/*
210526
remove style from footer theme file
make this style uniform with pagepart (more info)
remove pagepart stylesheet
*/
.btn-contact-2do-wrap {
	text-align:center;
	padding:30px 0;
}

.btn-contact-2do {
    display: inline-block;
    margin:0 auto;
    padding: 8px 24px;
    padding: 0.5rem 1.5rem;
    background-color: rgb(158, 0, 18);
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18.4px;
    font-size: 1.15rem;
}
html[lang="cs-CZ"] .btn-contact-2do.en {
	display:none;
}
html[lang="en-GB"] .btn-contact-2do.cs {
	display:none;
}
/* (2do) Look at theme footer.php */

.align-center {
  text-align:center;
}

// .show-more-handle {
//   &.align-center {
//     text-align:center;
//     margin:$offset-g2 auto;
//   }
//   &.margin-y {

//   }
// }

.how-to-apply_banner-row {
  display:flex;
  flex-direction: row;
  box-sizing: border-box;
  // border:1px solid red;
  padding:$offset-g1 0;

  @media (max-width: $bp-tablet-1) {
    flex-direction: column;  
  }

  .img-steps {
    // flex-grow:1;
    padding:0;
    width: 66.66666666%;
    align-items: center;
    display: flex;

    @media (max-width: $bp-tablet-1) {
      width:100%;  
    }
  }
  .dates {    
    padding: 0 $offset-g2 0 0;
    // width:33.33333333%;
    flex-grow:1;
    @media (max-width: $bp-tablet-1) {
      width:100%;
      padding-bottom:$offset-g2;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        white-space: nowrap;
        // padding-left: $offset-g1;

        &::before {
          content: "•"; /* Insert content that looks like bullets */
          padding-right: $offset-1;
        }
      }
    }
  }
}

ul.btn-blocks {
  display:flex;
  flex-direction: row;
  box-sizing: border-box;
  // border:1px solid red;
  padding:$offset-g1 0;
  // border-color:yellow;
  align-items: stretch;
  align-content: space-evenly;
  gap: $offset-g1;
  row-gap: $offset-g1;
  column-gap: $offset-g1;
  width: 100%;
  margin: 0;

  li {
    // background:orange;
    flex-basis: 33.33333333%;
    flex-grow: 0;
    padding:0 !important;

    a {
      background: transparent;
      text-align: center;
      display:block;
      border:1px solid white;
      padding: $offset-g2 $offset-g1;
      height: 100%;
      width: 100%;
      text-decoration:none;
      font-weight: bold;
      @include border-radius($border-radius-button);

      &:hover {
        background:white;
        color:$color_accent-1;

        i.fa {
          color:$color_accent-1;
        }
      }

      i.fa {
        display: block;
        font-size: 60px;
        height: 60px;
        line-height: 60px;
        margin: 0 auto $offset-g2 auto;
      }
    }
  }

  @media (max-width: $bp-tablet-1) {
    flex-direction: column;

    li {
      width:100%;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:$offset-g1;

        i.fa {
          font-size: $offset-g2;
          height: $offset-g2;
          width: $offset-g2;
          line-height: $offset-g2;
          margin:0 $offset-g1 0 0;
        }
      }
    }
  }
}

.display-none {
  display:none;
}