/* _button.scss */

@mixin btn-base() {
  font-weight: normal;
  text-transform: inherit;
  background: white;
  border: 1px solid $color_primary;
  color: $color_primary;
  margin: 0; // 5px 0
  text-decoration: none;
  padding: $font-size_button-padding;
  font-size: $font-size_button;
  line-height: $font-size_button-line-height;
}

.show-more-handle-button {
  padding:$offset-1 $offset-g1;

  &:before {
    @extend .fa-dummy;
    content: "\f078";
    margin-right: $offset-1;
  }

  &.expanded:before {
    content: "\f077";
  }
}

// .fasc-ico-before.dashicons-format-aside:before
// .fasc-ico-before.dashicons-format-aside:after {
//   content: "\f15c";
// }
