/* _circles.scss */

.circle-container-wrap {
    display:block;
    width:100%;
    overflow-y:hidden;
    background:$color_debug;
    // overflow-x:scroll;

    .circle-container {
        display:block;
        list-style:none;
        background:$color_debug2;
        min-width:940px;
        height:160px;//height of circle + padding-bottom
        padding:0 0 $offset-g1 0;
        margin:0;        

        .circle {
            border: 5px solid $color_bg-body;
            background-color: white;
            width: 145px;
            height: 145px;
            border-radius: 100%; 
            margin: 0 $offset-1 0 0;
            display:block;
            float:left;
            position:static;
            @include animate();

            > .aligner {
                height: 100%;
                text-align: center;
                padding:$offset-2 $offset-1 0 $offset-1;

                strong {
                    display:block;
                    font-size:24px;
                }

                span {
                    font-size:12px;
                }
            }
            /* (END) .aligner */

            &:hover {
                background-color: $color_bg-body;
                border-color: $color_primary;
            }
            /* (END) hover */
        }
        /* (END) .circle */
    }
    /* (END) .circle-container */
}
/* (END) .circle-container-wrap */

.pagepart_key-facts.cz {
    .circle-container-wrap {
        .circle-container {
            .circle {
                > .aligner {
                    padding:$offset-g1 $offset-g1 0 $offset-g1;

                    span {
                        font-size:10px;
                    }
                }
            }
        }
        /* (END) .circle-container */
    }
}