/* _social-icons.scss */

.contactus-social-icons-wrap {
  width: 100%;
  text-align: center;
  padding: $offset-g1 0;

  h4 {
    margin-bottom: $offset-g1;
  }

  .contactus-social-icons {
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: inline-block;

    a {
      margin: 0 7px;

      &.disc {
        @include btn-disc();

        &.twitter {
          background-color:$color_twitter;
          border-color:$color_twitter;

          &:hover {
            > i.fa {
              color:$color_twitter;
            }
          }
        }
        &.facebook {
          background-color:$color_facebook;
          border-color:$color_facebook;

          &:hover {
            > i.fa {
              color:$color_facebook;
            }
          }
        }
        &.youtube {
          background-color:$color_youtube;
          border-color:$color_youtube;

          &:hover {
            > i.fa {
              color:$color_youtube;
            }
          }
        }
        &.instagram {
          background-color:$color_instagram;
          border-color:$color_instagram;

          &:hover {
            > i.fa {
              color:$color_instagram;
            }
          }
        }
        &.newsletter {
          &:hover {
            > i.fa {
              color:$color_primary;
            }
          }
        }

      }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      i.fa {
        @extend .fa-lg;
        // color:white;
        // @include set-opacity("twothir");
      }

      &:hover {
        i.fa {
          // @include set-opacity("full");
        }
      }
    }
  }
}

footer {
  .contactus-social-icons-wrap {
    padding: $offset-g2 0;
  }
}
