/* _tabs.scss */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@mixin tabby-tab() {
  @include btn-base();
  background: transparent;
  border: 1px solid transparent;
  border-bottom: none;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 1px $offset-1 0 0;
  white-space: nowrap;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabby-wrap {
  display: block;
  width: 100%;
  margin: $offset-g2 0;

  @media (min-width: $bp-sm) {
    position: relative;
  }

  @media (max-width: $bp-sm-1) {
    margin: 0 0 $offset-g2 0;
    text-align: center;
  }

  ul.tabby-tabs.right {
    display: block;
    list-style: none;
    margin: 0;

    @media (min-width: $bp-sm) {
      position: absolute;
      top: 0;
      right: 0;
    }

    @media (max-width: $bp-sm-1) {
      display: inline-block;
      width: auto;
      margin: 0 auto $offset-g2 auto;
      text-align: center;
    }

    li {
      display: inline-block;

      &:last-child > a {
        margin-right: 0;
      }

      > a {
        @include tabby-tab();

        @media (max-width: $bp-sm-1) {
          background: $color_primary;
          color: white;
        }

        &.dashicons-calendar:before,
        &.dashicons-email-alt:before {
          // font: 400 16px/1 FontAwesome;
          @extend .fa-dummy;
          margin-right: 5px;
        }
        &.dashicons-calendar:before {
          content: "\f073";
        }

        &.dashicons-email-alt:before {
          content: "\f003";
        }
      }
    }
  }

  .responsive-tabs-wrapper {
    border:0px;
    .responsive-tabs {
      ul.responsive-tabs__list {
        margin: 0;

        li.responsive-tabs__list__item {
          @include tabby-tab();
        }

        li.responsive-tabs__list__item--active,
        li.responsive-tabs__list__item--active:hover {
          background: white;
          border-color: $color-border;
          color: $color-primary;
          font-weight: bold;
          font-size: 18px;
          padding-bottom: 11px;
          margin-top: 0;
          position: relative;
          top: 1px;
        }
      }

      h2.tabtitle.responsive-tabs__heading {
        text-align: left;
      }

      h2.tabtitle.responsive-tabs__heading {
        @include btn-base();
        background: #f7f7f7;
        border: 1px solid #f7f7f7;
        border-top: 0px;
        color: black;//$color-primary;
        margin: 1px 0 0 0; //1px gap
        position: relative;

        &:after {
          top: 20px;
          border-top-color: black;
        }
      }

      h2.tabtitle.responsive-tabs__heading--active {
        background: $color-primary;        
        border: 1px solid $color-primary;
        border-top: 0px;        
        color: white;

        &:after {
          // border-bottom-color: $color-primary;
        }
      }

      .tabcontent {
        padding: $offset-g2 0;
        border-width: 1px 0 0 0;

        .post-grid-wrap.news {
          padding-top: $offset-g1;
        }
        .embed-container-month {
          margin-top: $offset-g1;
        }

        .tabby-tab-content.term-dates {
          h1 {
            display: none;
          }
          .row-box {
            .first-half-column {
              margin-left: 0;
            }
            .first-half-column,
            .second-half-column {
              width: calc(50% - 15px);
            }
          }
        }
      }
    }
  }

  &.lozenge {
    .responsive-tabs-wrapper {
      .responsive-tabs {
        ul.responsive-tabs__list {
          margin:0 0 $offset-g1 0;

          li.responsive-tabs__list__item {
            margin-bottom:$offset-g1;
            margin-right:5px;
          }
  
          li.responsive-tabs__list__item--active,
          li.responsive-tabs__list__item--active:hover {
            background: #F7F7F7;
            @include border-radius($offset-g2);
            border: none;
            // color: $color-primary;
            // font-weight: bold;
            // font-size: 18px;
            // padding-bottom: 11px;
            // margin-top: 0;
            // position: relative;
            // top: 1px;
          }
        }
        /* (END) ul */
      }
    }    
  }
  /* (END) lozenge */

  /* sm */
  /* small text to avoid line break in tabs */
  &.sm {
    .responsive-tabs-wrapper {
      .responsive-tabs {
        ul.responsive-tabs__list {

          li.responsive-tabs__list__item {
            font-size: 14px;
            margin-right:4px;
          }
  
          li.responsive-tabs__list__item--active,
          li.responsive-tabs__list__item--active:hover {
            font-size: 16px;
          }
        }
        /* (END) ul */
      }
    }    
  }
  /* (END) sm */

  .display-posts-listing {
    .listing-item {
      > a.title {
        display: block;
        @extend .h1;
        margin-top: 0;
        padding-top: 0;
      }
      // a.image {
      //   float: left;
      //   display: block;
      //   margin: 0;
      //   padding: 0 $offset-2 0 0;
      //   width: 40%;
      //   min-height: $offset-g2;
  
      //   @media (max-width: $bp-sm-1) {
      //     width: 40%;
      //   }
      //   @media (max-width: $bp-xs-1) {
      //     width: 100%;
      //     padding-right: 0;
      //   }
  
      //   img {
      //     width: 100%;
      //     height: auto;
      //   }
      // }
      p:empty {
        display: none;
      }
      .content {
        // float: left;
        display: block;
        // width: 60%;
        text-align:left;
  
        @media (max-width: $bp-sm-1) {
          // width: 60%;
        }
        @media (max-width: $bp-xs-1) {
          padding-top: $offset-1;
          // width: 100%;
        }
      }
    }    
    /* (END) .listing-item */
    &.video-left {
      .listing-item {

        @media (min-width: $bp-sm) {
          position:relative;

          .title {
            position: absolute;
            top: 0;
            right: 0;
            width: 60%;
            padding-left: $offset-g2;
          }
          .content {
            width: 100%;    
            
            p:first-of-type {
              padding-top:60px;
            }

            .youtube-wrap {
              float:left;
              width:100%;
              margin:0;

              &:first-of-type {
                width: 40%;
                margin: 0 $offset-g2 $offset-g2 0;
              }
            }
            // @media (max-width: $bp-sm-1) {
            //   .youtube-wrap {
            //     width: 100%;
            //     margin: 0 0 $offset-g2 0;
            //     float:none;
            //   }
            // }
          }
        }
        /* (END) media */
        
      } 
    }
    /* (END) &.video-left */
    &.image-left {
      
      .image {
        width: 40%;
        padding: 0 $offset-g2 $offset-g2 0;
        float:left;

        img {
          width:100%;
          height:auto;
        }
        @media (max-width: $bp-sm-1) {
            width: 100%;
            margin: 0 0 $offset-g2 0;
            float:none;
        }
      }

      .listing-item {
        .content {
          // width: 60%;          
          @media (max-width: $bp-sm-1) {
              width: 100%;
              margin: 0 0 $offset-g2 0;
              float:none;
          }
          
        }
      } 
    }
    /* (END) &.video-left */
  }
  
}
