/* _youtube.scss */

.youtube-wrap {
    padding:0;
    margin:0;
    width:100%;
  
    h3 {
      margin-bottom:$offset-2;
    }
  
    &.fullXXX {    
      // margin-left:0;
      // margin-right:0;
    }
  
    iframe {
      width:100%;
      min-height:300px;
      margin:0 auto;
    }
  
    .title_bar_under {
      display: block;
      text-align:center;
      background: $color_youtube;
      padding: $offset-1 $offset-g1;
      color: white;
    }
      
  }
  
  .one-third {
    .youtube-wrap {    
      iframe {
        width:100%;
        min-height:200px;
      }
    }
  }

  .single-post {
    .youtube-wrap {
      margin-bottom:$offset-g2;
    }
  }